*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DESKTOP */
body {
  margin: 0;
  font-family: Spectral, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  padding: 20px 0 20px 100px;
  display: flex;
}

nav button {
  display: flex;
  border: 0;
  background-color: #ffc017;
  margin-left: 100px;
}

header {
  background-color: #ffc017;
  display: flex;
}

header div {
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin: 10px 0;
}

header button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
}

header img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.trending {
  min-height: 300px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

.trending-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.trending-item {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.trending-item p {
  margin: 0;
  font-size: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.article {
  display: inline-block;

  gap: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

.article img {
  width: 200px;
  height: 150px;
  background-color: white;
}

.article-content {
  flex-grow: 1;
}

.article-content h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.article-content p {
  margin: 0;
  font-size: 14px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0;
}

.tag {
  padding: 5px 10px;
  font-size: 14px;
}

footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: right;
  margin-top: auto;
}
